<!-- https://firewalld.org/documentation/man-pages/firewalld.direct.html -->
<?xml version="1.0" encoding="utf-8"?>
<direct>
  {% for chain in firewalld_direct_chains %}
  <chain
    ipv="{{ chain.ipv | mandatory }}"
    table="{{ chain.table | mandatory }}"
    chain="{{ chain.chain | mandatory }}"
    />
  {% endfor %}
  {% for rule in firewalld_direct_rules %}
  <rule
    ipv="{{ rule.ipv | mandatory }}"
    table="{{ rule.table | mandatory }}"
    chain="{{ rule.chain | mandatory }}"
    priority="{{ rule.priority | mandatory }}">
      {{ rule.args | mandatory }}
    </rule>
  {% endfor %}
  {% for passthrough in firewalld_direct_passthroughs %}
  <passthrough
    ipv="{{ passthrough.ipv | mandatory }}">
      {{ passthrough.args | mandatory }}
    </passthrough>
  {% endfor %}
</direct>
