# Ansible Managed
# checkout https://github.com/containers/common/blob/v0.31.0/pkg/config/containers.conf for all available options

[containers]
# Default proxy environment variables passed into the container.
# The environment variables passed in include:
# http_proxy, https_proxy, ftp_proxy, no_proxy, and the upper case versions of
# these. This option is needed when host system uses a proxy but container
# should not use proxy. Proxy environment variables specified for the container
# in any other way will override the values passed from the host.
#
http_proxy = {{ 'true' if podman_containers_configs.containers.http_proxy | default('true') | bool else 'false' }}

# Logging driver for the container. Available options: k8s-file and journald.
#
{% if podman_containers_configs.containers.log_driver | default("", True) | length > 0 %}
log_driver = "{{ podman_containers_configs.containers.log_driver }}"
{% else %}
# log_driver = "k8s-file"
{% endif %}

# Maximum size allowed for the container log file. Negative numbers indicate
# that no size limit is imposed. If positive, it must be >= 8192 to match or
# exceed conmon's read buffer. The file is truncated and re-opened so the
# limit is never exceeded.
#
{% if podman_containers_configs.containers.log_size_max | default(-1, True) != -1 %}
log_size_max = {{ podman_containers_configs.containers.log_size_max }}
{% else %}
# log_size_max = -1
{% endif %}

[engine]
# Environment variables to be used when running the container engine (e.g., Podman, Buildah).
# For example "http_proxy=internal.proxy.company.com".
# Note these environment variables will not be used within the container.
# Set the env section under [containers] table, if you want to set environment variables for the container.
{% if podman_containers_configs.engine.env | default([], True) | length > 0 %}
env = [
{% for env in podman_containers_configs.engine.env %}
        "{{ env }}",
{% endfor %}
      ]
{% else %}
# env = []
{% endif %}

# Default OCI runtime
#
{% if podman_containers_configs.engine.runtime | default("", True) | length > 0 %}
runtime = "{{ podman_containers_configs.engine.runtime }}"
{% else %}
# runtime = "crun"
{% endif %}
